/*
    página de estilos para el proyecto Formulario PHP+MySQL

    by Juan José Guerra Haba - 05-11-25
*/
html{
    background-color: #003;
    margin: 5%;
}
body {
    background: rgb(125, 185, 232);
    background: linear-gradient(to bottom, rgba(125, 185, 232, 1) 71%, rgba(125, 185, 232, 1) 99%);
    color: #000;
    font-family: "Century Gothic";
    font-size: 16px;
    line-height: 1.6;
    padding: 5%;
}

#logo{
    position: absolute;
    top: 2%;
    max-width: 20%;
}

#breadcrumbs{
    font-size: x-small;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

h2 {
    color: #000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 22px;
    margin: 15px;
    text-align: center;
}

.group {
    border: 3px solid #999999;
    padding: 20px;
    width: auto;
    color: #006;
    border-radius: 8px;
    border-color: #036;

    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(209, 238, 255, 1) 100%);
    margin: 0 auto;
}

.contact-form {
    width: 400px;
    text-align: left;
}

/* Form input box style
.form-input {
    display: block;
    width: 200px;
    height: 15px;
    margin-bottom: 15px;
    color: #000;
    background-color: #FF9;
    border: 1px solid #999;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.4s ease-in-out;
    font-family: "Century Gothic";
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
} */

/* Focus style
.form-input:focus {
    border: 1px solid #7fbbf9;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #7fbbf9;
} */

/* Error style

.form-input.invalid {
    border: 1px solid #e00;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 1px #e00;
}*/

#formAdd>input, #formAdd>textarea{
    width: 15%;
    height: 25px;
    display: inline-table;
}
#formAdd>input[required]{
    border: 1px solid silver;
    box-shadow: 2px 4px 6px gray;
}
/*#formAdd>textarea {
    margin-top:20px;
}*/

.btn-group{
    float: right;
}

/* Form submit button */
.form-btn {
    padding: 0 15px;
    height: 30px;
    font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: 1px solid #0d3d6a;
    outline: none;
    position: relative;
    background-color: #1d83e2;
    background-image: linear-gradient(top, #1d83e2, #0d3d6a);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
    background-clip: padding-box;
}

.form-btn:active {
    border: 1px solid #1d83e2;
    background-color: #0d3d6a;
    background-image: linear-gradient(top, #0d3d6a, #1d83e2);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.form-btn:focus {
    border: 4px solid #1d83e2;
    background-color: navy;
    color: white;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7), 0 2px 0 rgba(255, 255, 255, 0.1);
}
.form-btn>a {
    color: whitesmoke;
    text-decoration: none;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7), 0 2px 0 rgba(255, 255, 255, 0.1);
}

.btn-orange{
    color: whitesmoke;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    border: 1px solid #ad5906;
    outline: none;
    background-color: darkorange;
    background-image: none;
}
.btn-orange>a {
    color: red;
    text-decoration: none;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.7), 0 2px 0 rgba(255, 255, 255, 0.1);
    font-size: large;
}

label {
    margin-bottom: 8px;
    display: block;
    width: 300px;
    color: #003;
    font-size: 14px;
    font-weight: bold;
}

label span {
    font-size: 12px;
    color: #333;
    font-weight: normal;
}

.contact-form.frame {
    background-color: #444444;
    border: 1px solid #CCCCCC;
    padding: 20px;
}